body {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}
/*LOGO*/
#Logo {
	height: 280px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
#Logo img {
	margin-top: 40px;
}
/*HEADER*/
#headerText h1 {
	width: 650px;
	height: 230px;
	font-size: 58px;
	text-transform: uppercase;
	float: left;
	color: #fff;
	padding: 40px;
	margin-top: 20px;
	margin-left: 10%;
	text-shadow: 2px 2px 2px rgba(13,104,166, 0.75);
}
#headerText a {
	color:#FFF;
	text-decoration:none;
}
#headerText a:hover {
	color:#f7941e;
}

a
{
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
#ocelot {
	height: 380px;
	background-image: url(../img/ocelote-bg.png);
	background-position: right center;
	background-repeat: no-repeat;
}
header {
	height: 380px;
	background: #0d649f; /* Old browsers */
	background: -moz-linear-gradient(top, #0d649f 0%, #0e76bc 33%, #0e76bc 66%, #0d649f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d649f), color-stop(33%, #0e76bc), color-stop(66%, #0e76bc), color-stop(100%, #0d649f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0d649f 0%, #0e76bc 33%, #0e76bc 66%, #0d649f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0d649f 0%, #0e76bc 33%, #0e76bc 66%, #0d649f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0d649f 0%, #0e76bc 33%, #0e76bc 66%, #0d649f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0d649f 0%, #0e76bc 33%, #0e76bc 66%, #0d649f 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d649f', endColorstr='#0d649f', GradientType=0 ); /* IE6-9 */
}
/*CONTENT*/
#content {
	height: 290px;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.59) 58%, rgba(167,169,174,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(58%, rgba(255,255,255,0.59)), color-stop(100%, rgba(167,169,174,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.59) 58%, rgba(167,169,174,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.59) 58%, rgba(167,169,174,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.59) 58%, rgba(167,169,174,0.3) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.59) 58%, rgba(167,169,174,0.3) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4da7a9ae', GradientType=0 ); /* IE6-9 */
}
#content div {
	text-align: center;
	height: 220px;
	width: 790px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 40px;
}
#content p,label,.form p,.alert-success{
	color: #0e76bc;
	font-size: 20px;
	line-height: 24px;
	text-shadow: 2px 2px 2px rgba(13,104,166, 0.2);
}
#content p a {
	color: #0e76bc;
	text-decoration: underline;
}
#content p a:hover {
	color:#f7941e;
}
/*CONTACT*/
#contact {
	height: auto;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	background: rgb(211,115,2); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(211,115,2,1) 5%, rgba(247,148,30,1) 33%, rgba(247,148,30,1) 66%, rgba(211,115,2,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(211,115,2,1)), color-stop(33%, rgba(247,148,30,1)), color-stop(66%, rgba(247,148,30,1)), color-stop(100%, rgba(211,115,2,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(211,115,2,1) 5%, rgba(247,148,30,1) 33%, rgba(247,148,30,1) 66%, rgba(211,115,2,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(211,115,2,1) 5%, rgba(247,148,30,1) 33%, rgba(247,148,30,1) 66%, rgba(211,115,2,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(211,115,2,1) 5%, rgba(247,148,30,1) 33%, rgba(247,148,30,1) 66%, rgba(211,115,2,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(211,115,2,1) 5%, rgba(247,148,30,1) 33%, rgba(247,148,30,1) 66%, rgba(211,115,2,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d37302', endColorstr='#d37302', GradientType=0 ); /* IE6-9 */
	line-height: 14px;
	line-height: 24px;
	text-shadow: 2px 2px 2px rgba(211,115,2,0.75);
}
#contact h3 {
	font-size: 44px;
}
#contact h4 {
	text-align: center;
	font-size: 34px;
	line-height: 12px;
}
#contact .container {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	overflow: hidden;
}
#contact ul li {
	display: block;
	margin-top: 20px;
	margin-bottom: 5px;
}
#contact li p {
	font-size: 24px;
	margin-left: 40px;
}
#contact li p a{
	color:#fff;
}
#contact li p a {
	color:#fff;
	text-decoration: none;
}
#contact li p a:hover {
	color: #0e76bc;
}

#contact .form-link  p
{
	text-align: center;
	font-weight: normal;
	padding: 20px 0;
}
#contact .form-link  p a{
	color:#fff;
	font-size: 25px;
}

#contact .form-link  p a {
	color:#fff;
}


.form
{
display: none;
padding: 20px 0;
margin:0 auto;
width:750px;
overflow: hidden;
}

.open
{
	text-decoration: underline;
}

.form p
{
	font-size: 14px;
}
.form input
{
	width:300px;
	height: 30px;
	border: 1px solid #0e76bc;
	margin-top: 10px;
	padding: 0px 5px;
}


.form label
{
	font-weight: bold;
}

.alert-success
{
	text-align: center;
	padding: 20px;
}
textarea
{
	width: 300px;
	height:123px;
	border: 1px solid #0e76bc;
	padding: 0px 5px;
}

.form .field
{
	margin-bottom:20px;
}

input[type="checkbox"]
{
	display: none;
}

p.help-block
{
	color: red;
}

input[type="checkbox"] + label
{
		 padding: 10px 15px;
		height: 15px;
		display: block;
		cursor: pointer;
		background: url(../img/check-box.png) left center no-repeat; 
}

input[type="checkbox"]:checked + label
{
	 padding: 10px 15px;
	height: 15px;
	display: block;
	cursor: pointer;
	background: url(../img/checked-box.png) left center no-repeat;
}

.form span label
{
	color:#0e76bc;
	font-size: 10px;
	line-height:1em;
}


#left-column-form
{
	float: left;
	width:330px;
	padding-right:50px;
}

#right-column-form
{
	width:300px;
	float: left;
}

input[type="submit"]
{
	background: #f7941e;
	width: 150px;
	height: 40px;
	border: 0;
	box-shadow: -2px 3px 10px #0e76bc;
	margin-top: 30px;
	color: white;
	font-size: 20px;
	cursor: pointer;
}


#contact img {
	margin-top: -20px;
	padding-top: 20px;
	float: left;
}
#leftColumn:hover .arrow {
	width: 180px;
}
.arrow {
	width: 42px;
	height:9px;
	margin-left: 308px;
	background: #fff;
	/* For Safari 3.1 to 6.0 */
	-webkit-transition-property: width;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: linear;
	-webkit-transition-delay: 1s;
	/* Standard syntax */
	transition-property: width;
	transition-duration: 1s;
	transition-timing-function: linear;
	transition-delay: 1s;
	/*box-shadow: 2px 2px rgba(211,115,2,0.75);*/
}
#arrowhead {
	position: relative;
	top: 21px;
}
.mailIcon {
	width: 26px;
	height: 26px;
	margin-top: 10px;
	margin-right: 10px;
	background-image: url(../img/email-Icon.png);
}
.phoneIcon {
	width: 26px;
	height: 26px;
	margin-top: 10px;
	background-image: url(../img/phone-Icon.png);
}

/*GET TO KNOW*/
#contactCCI {
	padding-top: 40px;
	background-image: url(../img/CCI-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-shadow: 2px 2px 2px rgba(0,0,0, 0.3);
}
#center {
	text-align: center;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
h3 {
	font-size: 48px;
	color: #fff;
	margin-bottom: 20px;
}
#contactCCI p {
	font-size: 28px;
	letter-spacing: 2px;
	
	padding-top: 10px;
	padding-bottom: 10px;
}
#contactCCI a {
	color: #fff;
	text-decoration: none;
}
#contactCCI p a:hover {
	text-decoration: none;
	color: #116e39;
}
#SocialIcons {
	margin-left: 220px;
 	margin-right:;
 	position: relative;
}
#SocialIcons li {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 15px;
	padding: 0;
	list-style: none;
	top: 0;
	float: left;
}
#SocialIcons li, #SocialIcons a {
	height: 40px;
	display: block;
}
#GoodTimes {
	background-color: #fff;
	height: 100px;
	width: 124px;
	clear: both;
	margin-left: 80%;
	border-top-left-radius: 62px;
	border-top-right-radius: 62px;
	position: relative;
}
#GoodTimes img {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 18px;
}
#GoodTimes:hover {
	top: 5px;
}

/*CLASSES*/
.Orange {
	color: #f7941e;
}
#leftColumn {
	float: left;
	margin-top: 40px;
}
.rightColumn {
	float: right;
	margin-top: 40px;
}
.facebook {
	left: 0px;
	width: 40px;
	background-image: url(../img/Social_Icons.png);
}
.facebook a:hover {
	background-image: url(../img/Social_Icons.png);
	background-position: 0 -41px;
}
.twitter {
	left: 40px;
	width: 40px;
	background-image: url(../img/Social_Icons.png);
	background-position: -41px 0px;
}
.twitter a:hover {
	background-image: url(../img/Social_Icons.png);
	background-position: -41px -41px;
}
.instagram {
	left: 40px;
	width: 40px;
	background-image: url(../img/Social_Icons.png);
	background-position: -82px 0px;
}
.instagram a:hover {
	background-image: url(../img/Social_Icons.png);
	background-position: -82px -41px;
}
.linkedin {
	left: 40px;
	width: 40px;
	background-image: url(../img/Social_Icons.png);
	background-position: -123px 0px;
}
.linkedin a:hover {
	background-image: url(../img/Social_Icons.png);
	background-position: -123px -41px;
}
.blogger {
	left: 40px;
	width: 40px;
	background-image: url(../img/Social_Icons.png);
	background-position: -164px 0px;
}
.blogger a:hover {
	background-image: url(../img/Social_Icons.png);
	background-position: -164px -41px;
}

/*MOBILE*/
@media only screen (max-width: 568px) {
	
	
/*TABLET*/
@media only screen (max-width: 768px) {
	body {
		width: 100%;
	}
	#headerText h1 {
		width:100%;
	}
	#content {
		width: 100%;
}
	
